.photo {
  height: 25vh;
  width: 35vw;
}

.p {
  width: 35vw;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: x-large;
}

.dropdown {
  float: right;
}

.pF {
  margin-top: 3vh;
  font-size: large;
  color: darkgray;
  font-weight: normal;
  font-style: italic;
}

.borderless {
  width: 20vw;
  border: none;
  border-width: medium;
  border-color: transparent;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.p2 {
  position: absolute;
  margin-bottom: inherit;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
.div {
  width: 50%;
  margin: auto;
  margin-top: 3rem;
}

.div2 {
  width: 50%;
}
.B {
  color: #000;
}

.fa-comment {
  color: grey;
  border-color: black;
}

.fa-heart {
  color: firebrick;
}

.navbar {
  z-index: 1;
  margin-top: 0rem;
  background-color: #6c757d;
}

.avatarside {
  width: 5vw;
  height: 8vh;
}

.userName {
  font-weight: bold;
}

.emailFont {
  font-style: italic;
  font-weight: lighter;
  font-size: x-small;
  font-size: small;
  float: right;
  margin-right: 3vw;
}

.align {
  width: 100%;
}

.navbar ul {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.navbar-font {
  font-size: large;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  margin-left: 2vw;
}

/* .navbar ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: -5px;
  color: #ccc;
  font-size: 25px;
  width: 200px;
  height: 7vh;
  line-height: 7vh;
  border-left: 1px solid #fff;
  cursor: pointer;
  text-align: center;

} */

.card-body {
  margin-right: 5vw;
}

.nav-font {
  font-size: xx-large;
}

.fontB {
  color: #000;
}

.ad {
  margin-left: 22rem;
}

.BB {
  border: #000;
  fill: none;
}

.fontR {
  color: firebrick;
}

.avatar {
  margin-top: 2.99vh;
  width: 7vw;
  height: 13vh;
  align-self: stretch;
}

.account {
  font-size: medium;
  font-style: italic;
  font-weight: lighter;
}

#container {
  border: 1.2px;
  border-style: ridge;
  width: 50vw;
  height: 80vh;
  background-color: white;
}
#container2 {
  border: 1.2px;
  border-style: ridge;
  margin-top: 15vh;
  width: 50vw;
  height: 25vh;
  background-color: white;
}

#first {
  margin-top: 1vh;
  width: 13%;
  height: 10vh;
  float: left;
  margin-left: 2vw;
}
#second {
  margin-top: 4vh;
  width: 80%;
  border-radius: 10px;
  float: right;
  height: 72vh;
}
#second2 {
  margin-top: 4vh;
  width: 80%;
  float: right;
  height: 15vh;
}

.side {
  position: fixed;
  width: 22vw;
}

.right {
  float: right;
  margin-right: 0vw;
}

.block {
  display: block;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
}

.number {
  text-align: right;
}

.div1 {
  width: 75%;
  float: left;
}

.div2 {
  width: 20%;
  float: right;
}

.newFeedIconFont {
  font-family: Arial, Helvetica, sans-serif;
}
